<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.active4j.hr.workcal.dao.OaHrWorkcalRuleDao">

	<select id="getYearGroups" resultType="java.lang.String">
		SELECT
			b.YEAR
		FROM
			oa_hr_workcal_rule b
		GROUP BY
			b.YEAR
	</select>
</mapper>
